body {
  background-color: #aac4ef;
}
nav a {
	padding: 20px;
	text-decoration: none;
}
h1 {
	padding-left: 2em;
}
label {
	display: block;
	padding-left: 2em;
}
.error {
	color: red;
}
.login_logout {
	display: inline-block;
	padding-left: 20em;
}
.content {
	padding: 4em;
}


		